.container-container {
    display: block;
    position: absolute;
    margin: 50px;
}

.legenda-container {
    display: inline-flex;
    flex-direction: row;
    align-items: flex-start;
    width: auto;
    height: 650px;
    padding: 5px;
    border: 2px solid black;
}

.legenda {
    display: inline-flex;
    flex-direction: column;
    min-height: -webkit-fill-available;
    margin: 1px;
    margin-right: 10px;
    border: 2px solid black;
}

.content-container {
    display: inline-flex;
    flex-direction: column;
    align-items: baseline;
    min-height: -webkit-fill-available;
    border: 2px solid black;
}

.btn-legenda {
    display: block;
    padding: 5px;
    margin: 10px;
}

.Buttons-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    margin: 10px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.addButton-container {
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 5px;
}

.button {
    border: none;
    margin: 5px;
}

.remButton {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 5px;
}
/* Disable the remove button if the count is 0 */
.remButton.disabled {
opacity: 0.5;
cursor: not-allowed;
pointer-events: none;
}

.btnCounter-container {
    display: flex;
    justify-content: center;
}

/* The Modal (background) */
.modal {
display: none; /* Hidden by default */
position: fixed; /* Stay in place */
z-index: 1; /* Sit on top */
left: 0;
top: 0;
width: 100%; /* Full width */
min-height: 100%; /* Full height */
overflow: auto; /* Enable scroll if needed */
background-color: rgb(0,0,0); /* Fallback color */
background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
position: relative;
background-color: #fefefe;
margin: 10%;
padding: 0;
border: 1px solid #888;
width: 80%;
min-height: 600px;
box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
-webkit-animation-name: animatetop;
-webkit-animation-duration: 0.4s;
animation-name: animatetop;
animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
from {top:-300px; opacity:0} 
to {top:0; opacity:1}
}

@keyframes animatetop {
from {top:-300px; opacity:0}
to {top:0; opacity:1}
}

/* The Close Button */
.close {
color: white;
float: right;
font-size: 28px;
font-weight: bold;
}

.close:hover,
.close:focus {
color: #000;
text-decoration: none;
cursor: pointer;
}